body {
  font-family: "Roboto", Arial, sans-serif;
}

header {
  position: static;
  width: 100%;
  margin-top: auto ;
}

h1 {
  margin-top: auto;
  font-size: calc(2.8em + 2.6vw);
  font-weight: 700;
  letter-spacing: 0.01em;
  padding: 10rem 0 0 4.5rem;
  text-shadow: 0.022em 0.022em 0.022em #111;
  color: #fff;
  background-color: goldenrod;
}
